
.introducao {

    padding: 10vh 0px;
    padding-bottom: 5vh;

}

.introducao__titulo {
 
    font-weight: 600;
    font-size: 50px; 
    font-weight: 600;
    padding: 50px 0px;
    letter-spacing: -0.05em; 

}

.introducao__sobre-nos {
    font-size: 16px;
}

.introducao__conteudo { 
    width: 60%;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}

@media screen and(max-width: 768px) {

    .introducao__titulo {
        font-size: 27px;
        padding: 30px 0px;
    }

    .introducao__conteudo {
        width: 80%;
    }

}
   
