
.introducao {

    padding: 10vh 0px;

}

.introducao__titulo {

    color: #101828;
    font-weight: 600;
    font-size: 48px;

    font-weight: 600;
    padding: 5vh 0px;
    letter-spacing: -0.05em;

}

.introducao__conteudo { 
    width: 50%;
    text-align: center;
    font-size: 20px;

    line-height: 30px;
}