
.introducao {

    padding: 10vh 0px;

}

.introducao__titulo {

    color: var(--black);
    font-weight: 600;
    font-size: 3rem;
 
    font-weight: 600;
    padding: 5vh 0px;
    letter-spacing: -0.05em;

}

.introducao__conteudo { 
    width: 50%;
    text-align: center;
    font-size: 1.25rem;

    line-height: 1.8rem;
}