

.metricas {
    display: flex;
    justify-content: center;
 
    padding: 10vh 0px;
}

.metricas__item {
    width: 20%;
}

.metricas__item-numero {
 
    font-size: 3.6rem;
    margin: 0.75rem 0px;
}

.metricas__item-titulo {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0.5rem 0px;
    
}

.metricas__item-conteudo {
    font-size: 1rem;

    line-height: 1.5rem;
}
