

.metricas {
    display: flex;
    justify-content: space-between;
    
    
    padding: 10vh 8vw;
}

.metricas__item {
    width: 24%;
 
}

.metricas__item-numero {
    font-size: 60px;
    margin: 12px 0px;
}

.metricas__item-titulo {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 10px;
    
}

.metricas__item-conteudo {
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 768px) {
    .metricas {
        flex-direction: column;
        padding: 10vh 5vw;
    }
    
    .metricas__item {
        width: 100%;
        text-align: center;
    }
}
    
