
.button { 
    border: none; 
    border-radius: 0.5rem;
    padding: 0.65rem 0.9rem;
    cursor: pointer; /**/
    font-weight: 500;
}

.button-cadastrar {
    
    background-color:var(--wine-color);
    color: var(--main-color);
}