
.button { 
    border: none; 
    border-radius: 6px;
    padding: 10px 14px;
    font-weight: 500;
}

.button-cadastrar {
    
    background-color:var(--wine-color);
    color: var(--main-color);
}