

.text {

    font-family: var(--default-font);
    font-style: normal;

}

.subtitle {


    color: var(--wine-color);
    font-weight: 600;
}

.text-conteudo {
color: #667085;
font-weight: 400;
}


.text-medium {  
    font-weight: 500;
    font-size:20px;

}

